@charset "EUC-KR";

body{margin:0;}

header{
	position : fixed;
	top:0px; 
	width:100%;
	line-height:50px;
	font-size:35px;
	background-color:blue;
	color:white;
	text-align:center;
}

nav{
	position :  fixed;
	top:50px;
	width:100%;
	line-height:30px;
	background-color : lightblue;
}

section{
	position:fixed;
	top:75px;
	width:100%;
	height:100%;
	background-color:lightgray;
}

footer{
	position:fixed;
	bottom:0px;
	width:100%;
	line-height:25px;
	background-color:blue;
	color:white;
	text-align:center;
}

h1{
	text-align:center;
}

td{
	text-align:center;
}

table{
	margin:auto;
}







